:root {
  --black: #0000;
  --white: #fff;
  --pink: #9e0897;
  --purple: #2b003a;
  --purple-ligth: #410056;
  --yellow: #fdd76f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
  color: white;
  background-color: var(--purple-ligth);
  /* overflow-x: hidden;  */
  background-image: linear-gradient(43deg, #08010a 10%, #91058a 46%, #fdd76f 100%);

}

.whatsapp-fixed {
  background-color: white;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px #91058a;
  }

  50% {
    transform: scale(1.1);
    box-shadow: 0 0 20px #91058a;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 10px #91058a;
  }
}

.icon-fixed {
  color: black;
  font-size: 2rem;
  cursor: pointer;
}

.icon-fixed:hover {
  color: #91058a;
}

.arrow-fixed {
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 1rem;
  bottom: 1rem;
}

.icon-fixed-arrow {
  color: black;
  font-size: 2rem;
  cursor: pointer;
}

.icon-fixed-arrow:hover {
  color: #91058a;
}

header {
  background-color: black;
  width: 200px;
  padding: 10px;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  font-size: 50px;
}

.icon-header-link {
  border-radius: 20px;
  color: white;
  width: 90px;
  height: 55px;
  padding: 10px;
  font-size: 50px;
  background-color: var(--purple-ligth);
  background-image: linear-gradient(43deg, #08010a 10%, #91058a 46%, #fdd76f 100%);
}

.icon-header-link:hover {
  background-color: black;
  font-size: 50px;
  border: none;
}

.icon-header-git:hover {
  border-radius: 20px;
  color: white;
  width: 90px;
  height: 55px;
  padding: 10px;
  font-size: 50px;
  transition: all 0.4s ease;

  background-color: var(--purple-ligth);
  background-image: linear-gradient(43deg, #08010a 10%, #91058a 46%, #fdd76f 100%);
}

.section-home {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* Alinha os itens à esquerda */
  text-align: left;
  /* Alinha o texto à esquerda */
  gap: 10px;
  /* Espaçamento entre h1 e h2 */
  padding-left: 4rem;
  /* Adiciona margem à esquerda */
  overflow: hidden;
  /* Impede a rolagem na section */
  position: relative;
}

h1,
h2 {
  opacity: 0;
  /* Inicialmente invisível */
  animation: zoom-in 50s forwards;
}

/* Animação de zoom invertido nas letras */
@keyframes zoom-in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    transform: scale(1.2);
    /* Aumenta o efeito de zoom */
    opacity: 1;
  }
}

/* Animação de zoom invertido aplicada ao h1 */
h1 {
  font-size: 5rem;
  /* Aumenta o tamanho do h1 */
  animation: zoom-in 1s ease-out forwards;
}

/* Animação de zoom invertido aplicada ao h2 */
h2 {
  font-size: 1.50rem;
  /* Aumenta o tamanho do h2 */
  animation: zoom-in 1s 0.5s ease-out forwards;
  /* Início retardado para efeito suave */
}



.section-scroll {
  padding: 1rem 0;
  height: 100px;
  overflow: hidden;
  position: relative;
  background-color: black;
}

.scrolling-wrapper {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}

.scrolling-icons {
  display: flex;
  animation: scroll-icons 50s linear infinite;
  white-space: nowrap;
}

.icon {
  font-size: 80px;
  margin-right: 20px;
}

@keyframes scroll-icons {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.section-servicos {
  /* background-color: black; */
  color: white;
  padding: 2rem;
}

footer {
  background-color: black;
  height: 300px;
}

.container-footer {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.column-footer {
  display: flex;
  flex-direction: column;
}

.column-footer a, p {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: white;
  gap: 8px;
  margin-bottom: 5px;
}

.column-footer a:hover {
  color: #fdd76f;
}

.icon-footer {
  font-size: 23px;
  margin-right: 8px;
}

.copy-footer {
  position: relative;
  bottom: 0;
}

.copy-footer p {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 0.9rem;
}